<%# javascript_tag 'application' %>
<%= javascript_pack_tag 'application' %>

<p>Hi there, this is before react loads components</p>

<%= react_component("HelloWorld", { greeting: "Hello from react-rails." }) %>

<%# react_component("UserCheck") %>

<p>This is after react components.</p>